TRANSLATION_SERVICE_HOST=0.0.0.0
TRANSLATION_SERVICE_PORT=8010
VLLM_BASE_URL=http://127.0.0.1:8000
VLLM_MODEL_NAME=hy-mt15-7b
VLLM_REQUEST_TIMEOUT_SECONDS=60
TRANSLATION_TEMPERATURE=0.3
TRANSLATION_TOP_P=0.6
TRANSLATION_TOP_K=20
TRANSLATION_REPETITION_PENALTY=1.05
TRANSLATION_HISTORY_LIMIT=500
STRICT_HEALTHCHECK=false
CORS_ALLOWED_ORIGINS=http://127.0.0.1:5173,http://localhost:5173
